.task{
    background-color: rgb(204, 255, 0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.task.complete{
    background-color: purple;
    color: white;
}

.task span{
    font-size: 1.2rem;
}

.task.complete span{
    text-decoration: line-through;
    font-weight: bold;
}

.task button{
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.task button:hover{
    background-color: rgb(181, 0, 0);
}
